<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.MsdsFaqMapper">
    
    <resultMap type="MsdsFaq" id="MsdsFaqResult">
        <result property="id"    column="id"    />
        <result property="question"    column="question"    />
        <result property="answer"    column="answer"    />
        <result property="category"    column="category"    />
        <result property="sortOrder"    column="sort_order"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectMsdsFaqVo">
        select id, question, answer, category, sort_order, status, create_by, create_time, update_by, update_time, remark from msds_faq
    </sql>

    <select id="selectMsdsFaqList" parameterType="MsdsFaq" resultMap="MsdsFaqResult">
        <include refid="selectMsdsFaqVo"/>
        <where>  
            <if test="question != null  and question != ''"> and question like concat('%', #{question}, '%')</if>
            <if test="category != null  and category != ''"> and category = #{category}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectMsdsFaqById" parameterType="Long" resultMap="MsdsFaqResult">
        <include refid="selectMsdsFaqVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMsdsFaq" parameterType="MsdsFaq" useGeneratedKeys="true" keyProperty="id">
        insert into msds_faq
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="question != null and question != ''">question,</if>
            <if test="answer != null and answer != ''">answer,</if>
            <if test="category != null">category,</if>
            <if test="sortOrder != null">sort_order,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="question != null and question != ''">#{question},</if>
            <if test="answer != null and answer != ''">#{answer},</if>
            <if test="category != null">#{category},</if>
            <if test="sortOrder != null">#{sortOrder},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateMsdsFaq" parameterType="MsdsFaq">
        update msds_faq
        <trim prefix="SET" suffixOverrides=",">
            <if test="question != null and question != ''">question = #{question},</if>
            <if test="answer != null and answer != ''">answer = #{answer},</if>
            <if test="category != null">category = #{category},</if>
            <if test="sortOrder != null">sort_order = #{sortOrder},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMsdsFaqById" parameterType="Long">
        delete from msds_faq where id = #{id}
    </delete>

    <delete id="deleteMsdsFaqByIds" parameterType="String">
        delete from msds_faq where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
